<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="has-text-centered">
    <!-- nav icons -->
      <div class="nav-center">
        <a class="nav-item">
          <span class="icon">
            <i class="fa fa-twitter"></i>
          </span>
        </a>
        <a class="nav-item">
          <span class="icon">
            <i class="fa fa-facebook"></i>
          </span>
        </a>
        <a class="nav-item">
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
        </a>
      </div>
    <!-- end of nav icons -->
    <p>template by <a href="http://github.com/plasticneko">github.com/plasticneko</a></p>
    </div>
  </div>
</div>
<!-- end of footer -->
