<!-- header -->
<div class="header-wrapper">
  <section class="hero-top">
    <div class="header">
      <% include ../partials/nav.ejs %>
      <!-- header titles -->
      <div class="header-title">
        <section class="hero is-medium has-text-centered">
          <div class="hero-body">
            <div class="container">
              <h1 class="title is-1">Study Diary & Portfolio</h1>
              <h3 class="subtitle is-3">for Interactive Multimedia course from OAMK</h3>
            </div>
          </div>
        </section>
      </div>
      <!-- end of header titles -->
    </div>
  </section>
</div>
<!-- end of header -->
