<!-- navigation links -->
<div class="header-nav">
  <nav class="nav">
    <div class="nav-center">
      <a class="nav-item" href="/">
        <b>Home</b>
      </a>
      <a class="nav-item" href="/about">
        <b>About</b>
      </a>
      <a class="nav-item" href="/contact">
        <b>Contact</b>
      </a>
    </div>
  </nav>
</div>
<!-- end of navigation links -->
