<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/head.ejs %>
  </head>
  <body>
    <% include ../../partials/header.ejs %>
    <!-- main body content -->
    <div class="main-content">
      <div class="container">
	      <div class="columns is-centered is-multiline">
	        <div class="column is-6">
	          <div class="post">
	            <!-- post content -->
	            <div class="content">
		            <div class="content-header has-text-centered">
		              <h3 class="title is-3"><b><a href="/labs/1">Lab 1</a></b></h3>
		              <h4 class="title is-4 is-spaced">Definitions, Coding Conventions, HTML5, Developer Tools, Dynamic HTML</h4>
		              <h6 class="subtitle is-6">Posted by Author on March 1st 2018 at 9:00pm</h6>
	            	  <hr/>
	            	</div>
                <h1>Definitions</h1>
                <h4>HTML</h4>
                <p>HTML stands for Hyper Text Markup Language. HTML is one of the basic building blocks for any webpage and provide the structure to a page. That’s why it is often known as the “bone” of a webpage. HTML codes consists of tags and elements. From these tags a browser knows how to process and render the webpage</p>
                <h4>CSS</h4>
                <p>CSS stands for Cascading Style Sheets and responsible for the design and presentation of webpages. Whereas, HTML is known as the “bone" of a webpage, CSS is often considered as the “skin”. Because it determines how the webpage is actually going to look like. This appearance is achieved through CSS rules and commands which can be provided inline, internal or external way.</p>
                <h4>Javascript</h4>
                <p>Javascript is a scripting language and it was created to enhance the overall web experience for users. It is the third component in the ultimate HTML, CSS and JavaScript trio, which is considered the basic building block for modern webpages. Javascript is mainly created to make web components more dynamic and programmable.</p>
                <h4>HTTP</h4>
                <p>HTTP stands for Hypertext Transfer Protocol. It is an application protocol that runs on top of TCP/IP suite of protocols and basically contains the set of rules that determine how files should be transferred over World Wide Web. </p>
                <h4>HTML5</h4>
                <p>HTML5 is the latest version of HTML. As the demand for advanced web feature grew, the previous version of HTML(HTML 4.0) failed to deliver those features without the help of different kind of plugins. These plugins made webpages messy and very hard to maintain. But with HTML5, it very easy now to develop complex web application without plugins and achieve better result in a easy, effective and maintainable way.</p>
                <h4>Dynamic HTML</h4>
                <p>Dynamic HTML is a technique to make webpage contents more dynamic with the combination of existing web technologies, namely- HTML, CSS, JS and DOM. DHTML provides dynamic content, positioning and style of web components to achieve better user experience.</p>
                <h1>Coding Conventions</h1>
              </div>
	            <!-- end of post content -->
              <a class="button" href="/tasks/1">Task: Person List</a>
	          </div>
	          <!-- content nav -->
	          <nav class="has-text-right">
	            <a class="button" href="/">Back to Home</a>
	          </nav>
	          <!-- end of content nav -->
	        </div>
	      </div>
      </div>
    </div>
    <!-- end of main content -->
    <% include ../../partials/footer.ejs %>
  </body>
</html>
