<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/head.ejs %>
  </head>
  <body>
    <% include ../../partials/header.ejs %>
    <!-- main body content -->
    <div class="main-content">
      <div class="container">
	      <div class="columns is-centered is-multiline">
	        <div class="column is-6">
	          <div class="post">
	            <!-- post content -->
	            <div class="content">
		            <div class="content-header has-text-centered">
		              <h3 class="title is-3"><b><a href="/labs/2">Lab 2</a></b></h3>
		              <h4 class="title is-4 is-spaced">Responsive Web Design</h4>
		              <h6 class="subtitle is-6">Posted by Author on March 1st 2018 at 9:00pm</h6>
	            	  <hr/>
	            	</div>
                <h4 class="title is-4">What is the purpose of RWD? Why it is used? How things were done before RWD? What is the difference?</h4>
                <p>The purpose of Responsive Web Design is to develop a design technique that adapts according to user device so that the developers don’t have to write code for every different devices. Before RWD developers used to make different versions of the same page for different devices which was very long and tiring development process. But in RWD developers can avoid code redundancy and create one single code base that adapts depending on the device.</p>
                <h4 class="title is-4">How CSS media queries can help you building responsive web sites?</h4>
                <p>CSS media queries can be used to applying style depending on the device size, type, specific characteristics or environment. It is a must used tool while writing CSS for a webpage to make it more robust and accessible via different types of devices</p>
                <h4 class="title is-4">Why to use em (font) based sizing for margins?</h4>
                <p>em is a common unit in measurement in CSS. Basically while using value the pixel value the browser renders depends on the font-size of the element they’re used on. Because em is not as strict as pixel and it gives some flexibility when used with font, it is better to use em for margins, padding and line-height of different components</p>
                <h4 class="title is-4">Article is already 7 years old, do we have any new technologies that can be used to achieve same type of UI responsiveness as described in the article? Buzz words: (CSS Grid, Flexbox)</h4>
                <p>At the beginning the way to make pages responsive is to create adaptable grids, apply media queries and writing every single rule on how components should behave on changing device size manually. But now there are responsive frameworks that can be easily implemented. Also CSS3 libraries like Flexbox and CSS Grid makes it even more easier to develop RWD. Developers define certain grids to contain certain elements and the design can adapts on its own. </p>
	            </div>
	            <!-- end of post content -->
              <a class="button" href="/tasks/2">Task: Basic Responsive Website</a>
	          </div>
	          <!-- content nav -->
	          <nav class="has-text-right">
	            <a class="button" href="/">Back to Home</a>
	          </nav>
	          <!-- end of content nav -->
	        </div>
	      </div>
      </div>
    </div>
    <!-- end of main content -->
    <% include ../../partials/footer.ejs %>
  </body>
</html>
