<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/head.ejs %>
  </head>
  <body>
    <% include ../../partials/header.ejs %>
    <!-- main body content -->
    <div class="main-content">
      <div class="container">
	      <div class="columns is-centered is-multiline">
	        <div class="column is-6">
	          <div class="post">
	            <!-- post content -->
	            <div class="content">
		            <div class="content-header has-text-centered">
		              <h3 class="title is-3"><b><a href="/labs/3">Lab 3</a></b></h3>
		              <h4 class="title is-4 is-spaced">Web Sockets, Local Storage, Audio Element, Video Element</h4>
		              <h6 class="subtitle is-6">Posted by Author on March 1st 2018 at 9:00pm</h6>
	            	  <hr/>
	            	</div>
	            </div>
	            <!-- end of post content -->
              <a class="button" href="/tasks/3">Task: Chat App using Web Socket</a>
              <br/><br/>
              <a class="button" href="/tasks/4">Task: Person List with LocalStorage</a>
              <br/><br/>
              <a class="button" href="/tasks/5">Task: HTML5 Audio Player with Custom Button</a>

	          </div>
	          <!-- content nav -->
	          <nav class="has-text-right">
	            <a class="button" href="/">Back to Home</a>
	          </nav>
	          <!-- end of content nav -->
	        </div>
	      </div>
      </div>
    </div>
    <!-- end of main content -->
    <% include ../../partials/footer.ejs %>
  </body>
</html>
