<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/head.ejs %>
  </head>
  <body>
    <% include ../../partials/header.ejs %>
    <!-- main body content -->
    <div class="main-content">
      <div class="container">
	      <div class="columns is-centered is-multiline">
	        <div class="column is-6">
	          <div class="post">
	            <!-- post content -->
	            <div class="content">
		            <div class="content-header has-text-centered">
		              <h3 class="title is-3"><b><a href="/labs/5">Lab 5</a></b></h3>
		              <h4 class="title is-4 is-spaced">jQuery & Ajax</h4>
		              <h6 class="subtitle is-6">Posted by Author on March 1st 2018 at 9:00pm</h6>
	            	  <hr/>
	            	</div>
                <h4 class="title is-4">What you can do with jQuery?</h4>
                <p>jQuery is a javascript library that helps developer manipulate the DOM elements very easily. It is created to simplify client side scripting process. jQuery makes things like document traversal and manipulation, event handling, animation and Ajax much more simpler. It is very versatile and extensible and works across different platforms.</p>
                <h4 class="title is-4">How it can help you as a developer?</h4>
                <p>jQuery can be used to perform complex front end scripting in very short amount time. With it’s rich library and plugins developer don’t have to write everything from scratch. For example, It makes a lot of time to create small animations, solve cross platform issues, making web application faster or make application SEO friendly. But developers can achieve all these with jQuery in a very short amount of time.</p>
                <h4 class="title is-4">If you think of our earlier participant 'Person list app' in what kind of issues you could use jQuery?</h4>
                <p>jQuery can be used to perform complex front end scripting in very short amount time. With it’s rich library and plugins developer don’t have to write everything from scratch. For example, It makes a lot of time to create small animations, solve cross platform issues, making web application faster or make application SEO friendly. But developers can achieve all these with jQuery in a very short amount of time.</p>
                <h4 class="title is-4">What are CDNs? What kind of benefits you get if you use them?</h4>
                <p>CDN stands for Content Delivery Network. It refers to geographically distributed group of servers that works together to provide fast delivery of internet content. Using CDN can enrich user experience by improving Improving website load times, reducing bandwidth costs, increasing content availability and redundancy and improving website security.</p>
	            </div>
	            <!-- end of post content -->
              <a class="button" href="/tasks/8">Task: Person List Ajax</a>
	          </div>
	          <!-- content nav -->
	          <nav class="has-text-right">
	            <a class="button" href="/">Back to Home</a>
	          </nav>
	          <!-- end of content nav -->
	        </div>
	      </div>
      </div>
    </div>
    <!-- end of main content -->
    <% include ../../partials/footer.ejs %>
  </body>
</html>
