<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs %>
  </head>

  <body>

    <% include ../partials/header.ejs %>
    <!-- main body content -->
    <div class="main-content">
      <div class="container">
	      <div class="columns is-centered is-multiline has-text-centered">
	        <div class="column is-6">

            <div class="post">
	            <!-- post content -->
	            <div class="content">
		            <div class="content-header">
		              <h3 class="title is-3"><b><a href="/labs/1">Lab 1</a></b></h3>
		              <h4 class="title is-4 is-spaced">Definitions, Coding Conventions, HTML5, Developer Tools, Dynamic HTML</h4>
		              <h6 class="subtitle is-6">Posted by Author on March 1st 2018 at 9:00pm</h6>
		              <hr/>
		            </div>
	            </div>
	            <!-- end of post content -->
	          </div>

            <div class="post">
              <!-- post content -->
              <div class="content">
                <div class="content-header">
                  <h3 class="title is-3"><b><a href="/labs/2">Lab 2</a></b></h3>
                  <h4 class="title is-4 is-spaced">Responsive Web Design</h4>
                  <h6 class="subtitle is-6">Posted by Author on March 1st 2018 at 9:00pm</h6>
                  <hr/>
                </div>
              </div>
              <!-- end of post content -->
            </div>

            <div class="post">
              <!-- post content -->
              <div class="content">
                <div class="content-header">
                  <h3 class="title is-3"><b><a href="/labs/3">Lab 3</a></b></h3>
                  <h4 class="title is-4 is-spaced">Web Sockets, Local Storage, Audio Element, Video Element</h4>
                  <h6 class="subtitle is-6">Posted by Author on March 1st 2018 at 9:00pm</h6>
                  <hr/>
                </div>
              </div>
              <!-- end of post content -->
            </div>

            <div class="post">
              <!-- post content -->
              <div class="content">
                <div class="content-header">
                  <h3 class="title is-3"><b><a href="/labs/4">Lab 4</a></b></h3>
                  <h4 class="title is-4 is-spaced">HTML5 Canvas</h4>
                  <h6 class="subtitle is-6">Posted by Author on March 1st 2018 at 9:00pm</h6>
                  <hr/>
                </div>
              </div>
              <!-- end of post content -->
            </div>

            <div class="post">
              <!-- post content -->
              <div class="content">
                <div class="content-header">
                  <h3 class="title is-3"><b><a href="/labs/5">Lab 5</a></b></h3>
                  <h4 class="title is-4 is-spaced">jQuery & Ajax</h4>
                  <h6 class="subtitle is-6">Posted by Author on March 1st 2018 at 9:00pm</h6>
                  <hr/>
                </div>
              </div>
              <!-- end of post content -->
            </div>

            <div class="post">
              <!-- post content -->
              <div class="content">
                <div class="content-header">
                  <h3 class="title is-3"><b><a href="/labs/6">Lab 6</a></b></h3>
                  <h4 class="title is-4 is-spaced">Flickr Photo Wall, Node.js & Heroku</h4>
                  <h6 class="subtitle is-6">Posted by Author on March 1st 2018 at 9:00pm</h6>
                  <hr/>
                </div>
              </div>
              <!-- end of post content -->
            </div>



	          <!-- pagingation -->
	          <nav class="has-text-right">
	            <a class="pagination-next" disabled>Newer Posts</a>
	            <a class="pagination-previous">Older Posts</a>
	          </nav>
	          <!-- end of pagination -->
	        </div>
	      </div>
      </div>
    </div>
    <!-- end of main content -->
    <% include ../partials/footer.ejs %>
  </body>
</html>
