<!DOCTYPE html>
<html>
  <head>
    <title>Responsive Web Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/cssreset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/tasks/2.css">
  </head>
  <body>
    <div id="title">
      <h1>Welcome to imp Course</h1>
    </div>

    <div id="menu">
      <ul>
        <li><a href=#>Home</a></li>
        <li><a href=#>About</a></li>
        <li><a href=#>Contact</a></li>
        <li><a href=#>Other stuff</a></li>
      </ul>
    </div>

    <div id="horizontal">
      <hr>
    </div>

    <div id="content">
      <div class="post">
        <h1>How to do responsive web design<h1>
        <h4>Published on 2016-05-08</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="figures">
          <figure>
            <img src="/img/dhaka1.jpg" alt="Dhaka, Bangladesh">
            <figcaption>A picture showing how's life in Dhaka</figcaption>
          </figure>
        </div>
      </div>

      <div class="post">
        <h1>Basic rules are simple, don't use pixels<h1>
        <h4>Published on 2016-05-03</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="figures">
          <figure>
            <img src="/img/dhaka2.jpg" alt="Dhaka, Bangladesh">
            <figcaption>Streets</figcaption>
          </figure>
        </div>
      </div>

      <div class="post">
        <h1>Everything must be scalable<h1>
        <h4>Published on 2016-01-01</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="figures">
          <figure>
            <img src="/img/dhaka3.jpg" alt="Dhaka, Bangladesh">
            <figcaption>Buildings</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </body>
</html>
