<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web Socket Challenge</title>
    <link rel="stylesheet" href="/stylesheets/tasks/3.css">
  </head>
  <body>
    <div id="container">
      <div id="chatbox">

      </div>
      <input id="textInput" type="text" placeholder="Write your message here...">
      <br/>
      <button type="button" onclick="sendText();">Send</button>
      <p id="connectionStatus"></p>
    </div>

    <script src="/scripts/tasks/3.js"></script>
  </body>
</html>
