<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Persons list with LocalStorage</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/tasks/4.css">
    <script src="/scripts/tasks/4.js"></script>
  </head>
  <body onload="updatePersonsList()">
    <div class="container">
      <div class="row">
        <div class="col-25">
          <label for="nameInput">Name</label>
        </div>
        <div class="col-50">
          <input id="nameInput" type="text" placeholder="Enter name...">
        </div>
        <div class="col-25">
          <button onclick="requestAddPerson()">Add Person</button>
        </div>
      </div>
    </div>
    <ul id="personList">
    </ul>
    <button id="clearButton" onclick="controllerClearPersonList()">Clear Person List</button>
  </body>
</html>
