<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Canvas Drawing App</title>
    <link href="/stylesheets/tasks/6.css" rel="stylesheet">
    <script src="/scripts/tasks/6.js"></script>
  </head>

  <body>
    <h1>Draw Lines to Draw Area</h1>
    <canvas id="canvas" width="600" height="600"></canvas>
  </body>
</html>
