<h2><!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Click and Shoot Game Using Canvas</title>
    <link rel="stylesheet" href="/stylesheets/tasks/7.css">
  </head>
  <body onload="drawCanvas()">
    <h2>Time: <span id="time">10</span></h2>
    <h2>Score: <span id="score">0</span></h2>
    <canvas id="canvas" onclick="onClick(event);">
      Canvas not supported.
    </canvas>
    <script src="/scripts/tasks/7.js"></script>
  </body>
</html>
