<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flickr Search App</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/tasks/9.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="searchbox">
         <div class="searchbox-inner text-center">
            <form role="form" class="search has-button">
               <h3 class="no-margin-top h1">Flickr Search App</h3>
               <div class="form-group">
                  <input id="searchBox" class="form-control form-control-lg" type="search" placeholder="Search Term">
                  <button id="searchButton" class="btn btn-lg btn-warning" type="button">Search</button>
               </div>
               <!-- /form-group -->
            </form>
            <!-- /.max-width on this form -->
         </div>
         <!-- /.searchbox-inner (display:table-cell) -->
      </div>
      <!-- /.searchbox (display:table) -->

      <main class="grid">
      </main>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/scripts/tasks/9.js"></script>
  </body>
</html>
